[alias]
    co = checkout
    st = status
    br = branch
    d = difftool

[color]
    ui = true
[color "branch"]
    current = green
    local = yellow
    remote = yellow reverse
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[core]
    autocrlf = false
    safecrlf = true
    excludesFile = ~/.gitignore

[credential]
    helper = /usr/lib/git-core/git-credential-gnome-keyring

[delta]
    side-by-side = true
    syntax-theme = gruvbox-dark

[diff]
    tool = ediff
[difftool]
    prompt = false
[difftool "ediff"]
    cmd = emacs -diff "$LOCAL" "$REMOTE"

[merge]
    tool = ediff
    conflictstyle = diff3
[mergetool "ediff"]
    cmd = emacs -merge "$LOCAL" "$BASE" "$REMOTE" "$MERGED"

[pull]
    rebase = true

[user]
    name = "Crandel"
