[user]
    name = Crandel
    email = cradlemann@gmail.com
[core]
    autocrlf = false
    safecrlf = true
[color]
    ui = true
[color "branch"]
    current = green
    local = yellow
    remote = yellow reverse
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[alias]
    co = checkout
    st = status
    br = branch
    d = difftool
[merge]
    tool = meld
    conflictstyle = diff3
[diff]
	tool = meld

[difftool]
	prompt = false
