* {
  border: none;
  border-radius: 3px;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Hack Nerd Font Mono;
  font-size: 22px;
  min-height: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #FFFFFF;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #FFFFFF;
}

#workspaces button.focused {
  background-color: #355325;
  box-shadow: inset 0 -3px #FFFFFF;
}

#workspaces button.urgent {
  background-color: #EB4D4B;
}

#mode {
  background-color: #FF0000;
}

#workspaces,
#tray,
#mode,
#custom-gmail,
#disk,
#cpu,
#memory,
#battery,
#pulseaudio,
#backlight,
#network,
#language,
#clock {
  margin: 0 1px;
  color: #FFFFFF
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #FFFFFF;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#tray {
  background-color: transparent;
}

#custom-gmail {
  background-color: #1c7d2f;
}

#disk {
  background-color: #23712c;
}

#disk.warning {
  background-color: orange;
}

#disk.critical {
  background-color: red;
}

#cpu {
  background-color: #2a6529;
}

#cpu.warning {
  background-color: orange;
}

#cpu.critical {
  background-color: red;
}

#memory {
  background-color: #355325;
}

#memory.warning {
  background-color: orange;
}

#memory.critical {
  background-color: red;
}

#battery {
  background-color: #2F2519;
}

#battery.charging, #battery.plugged {
  background-color: #2F2519;
}

#battery.good:not(.charging) {
  background-color: #4A3F35;
}

#battery.normal:not(.charging) {
  background-color: #725F0A;
}

#battery.warning:not(.charging) {
  background-color: #FA7D09;
}

#battery.critical:not(.charging) {
  background-color: #FF4301;
  color: #FFFFFF;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  background-color: #29331e;
}

#pulseaudio.muted {
  background-color: #90B1B1;
}

#backlight {
  background-color: #1f2419;
}

#network.eth {
  background-color: #1f2419;
}

#network.wifi {
  background-color: #33382e;
}

#network.vpn {
  background-color: #e58e26;
}

#network.disconnected {
  background-color: #F53C3C;
}

#language {
  background-color: #464a41;
}

#clock {
  background-color: #355325;
}
