* {
  border: none;
  border-radius: 3px;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Hack Nerd Font Mono;
  font-size: 22px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
   window#waybar.empty {
   background-color: transparent;
   }
   window#waybar.solo {
   background-color: #FFFFFF;
   }
 */
window#waybar.chromium {
   background-color: #000000;
   border: none;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64627D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #088A08;
}

#battery {
  background-color: #8A4B08;
  color: #A9D0F5;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.good:not(.charging) {
  background-color: #610154;
  color: #F3FBF5;
}

#battery.normal:not(.charging) {
  background-color: #298A08;
  color: #F3FBF5;
}

#battery.warning:not(.charging) {
  background-color: #725F0A;
  color: #F3FBF5;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#cpu.warning {
  background-color: orange;
}
#cpu.critical {
  background-color: red;
  color: #FFFFFF
}


#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #FAFAFA;
  color: #1B2A0A;
}

#disk.warning {
  background-color: orange;
}
#disk.critical {
  background-color: red;
  color: #FFFFFF
}

#backlight {
  background-color: #90b1b1;
  color: #0A2A1B;
}

#network.eth {
  background-color: #2980b9;
}

#network.wifi {
  background-color: #A5DF00;
  color: #000000
}

#network.vpn {
  background-color: #1B0A2A;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-gmail {
  background-color: #66cc99;
  color: #2a5c45;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: transparent;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}
