* {
  border: none;
  border-radius: 2px;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FiraCode Nerd Font Mono, Hack Nerd Font;
  font-size: 24px;
  min-height: 0px;
}

#workspaces button {
  padding: 0 0px;
  background-color: #282828;
  color: #FADB2F;
  box-shadow: inset 0 -1px #689D6A;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: #504945;
  color: #BDAE93;
  box-shadow: inset 0 -1px #689D6A;
}

#workspaces button.focused {
  background-color: #D65D0E;
  color: #EBDBB2;
  box-shadow: inset 0 -1px #689D6A;
}

#workspaces button.urgent {
  background-color: #FB4934;
  color: #FBF1C7;
  box-shadow: inset 0 -1px #CC241D;
}

#mode {
  background-color: #458588;
}

#submap {
  background-color: #458588;
}

#submap,
#mode,
#systemd-failed-units,
#disk,
#cpu,
#memory,
#battery,
#wireplumber,
#backlight,
#network,
#language,
#tray,
#clock {
  margin: 1px;
  color: #EBDBB2
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #5B8234;
    color: #EBDBB2;
  }
}

label:focus {
  background-color: #D65D0E;
}


#window {
  background-color: transparent;
  color: #FADB2F;
  border: #689D6A;
}

window#waybar {
    background: transparent;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

#disk {
  background-color: #23712C;
}

#disk.data {
  background-color: #4B610B;
}

#disk.hdd {
  background-color: #5F4C0B;
}

#disk.warning {
  background-color: #D79921;
}

#disk.critical {
  background-color: #CC241D;
}

#cpu {
  background-color: #2A6529;
}

#cpu.warning {
  background-color: #D79921;
}

#cpu.critical {
  background-color: #CC241D;
}

#memory {
  background-color: #355325;
}

#memory.warning {
  background-color: #D79921;
}

#memory.critical {
  background-color: #CC241D;
}

#battery {
  background-color: #B16286;
}

#battery.charging {
  background-color: #2F2519;
}

#battery.plugged {
  background-color: #B16286;
}

#battery.good:not(.charging) {
  background-color: #B16286;
}

#battery.normal:not(.charging) {
  background-color: #458588;
}

#battery.warning:not(.charging) {
  background-color: #D79921;
}

#battery.critical:not(.charging) {
  background-color: #CC241D;
  color: #FFFFFF;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature {
  background-color: #355529;
}

#temperature {
  background-color: #355529;
}

#bluetooth {
  background-color: #0B0B3B;
}

#bluetooth.connected {
  background-color: #458588;
}

#bluetooth.off {
  background-color: #CC241D;
}

#pulseaudio.output {
  background-color: #29331E;
}

#pulseaudio.input {
  background-color: #244511;
}

#pulseaudio.output.muted {
  background-color : #D79921;
}

#pulseaudio.input.source-muted {
  background-color : #D79921;
}

#mpris {
  background-color : #488177;
}

#backlight {
  background-color: #1f2419;
}

#network.eth {
  background-color: #33382E;
}

#network.wifi {
  background-color: #33382E;
}

#network.vpn {
  background-color: #E58E26;
}

#network.disconnected {
  background-color: transparent;
}

#language {
  background-color: #464a41;
}

#clock {
  background-color: #355325;
}

#tray {
  background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: red;
    border-bottom-color: red;
}
