--code-green: #96EC5F!important;
--yellow-10: #d7dd90;
--yellow-20: #cbcd64;
--tone-1: var(--yellow-10);
--tone-2: var(--yellow-20);
--tone-3: var(--grey-40);
--tone-4: var(--grey-50);
--tone-5: var(--grey-60);
--tone-6: var(--grey-70);
--tone-7: var(--grey-80);
--tone-8: var(--grey-90);
--tone-9: black;
--accent-1: var(--green-70);
--accent-2: var(--green-80);
--accent-3: var(--green-90);
--in-content-box-background-odd: var(--code-green);
--in-content-category-outline-focus: 1px dotted var(--code-green);;
--in-content-category-text-selected-active: var(--code-green);
--in-content-item-hover: rgb(65, 119, 31, 0.25);
--in-content-link-color-hover: var(--accent-2)!important;
--in-content-link-color-visited: #7d004f;
--in-content-link-color: var(--accent-1)!important;
--in-content-page-background: var(--tone-9)!important;
--in-content-page-color: var(--tone-4)!important;
--in-content-selected-text-background: var(--green-90)!important;
--in-content-selected-text: var(--tone-1)!important;
--in-content-tab-color: var(--tone-9)!important;
--in-content-table-border-dark-color: var(--tone-2)!important;
--in-content-text-color: var(--tone-1)!important;
