@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
  visibility: collapse !important;
}

/* Hide "Tree Style Tabs" sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display:none;
}

#editBMPanel_folderTree {
  min-height: 40em !important;
}

menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important;
  padding: 1!important
}

#BMB_bookmarksPopup .popup-internal-box {
  background-color: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}

.popup-internal-box > autorepeatbutton {
  -moz-appearance: none!important;
  background-color: var(--in-content-page-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}
