menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important;
  padding: 1!important
}

#BMB_bookmarksPopup .popup-internal-box {
  background-color: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}

.popup-internal-box > autorepeatbutton {
  -moz-appearance: none!important;
  background-color: var(--in-content-page-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}

--in-content-deemphasized-text: var(--in-content-page-color)!important;
