@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#toolbar-menubar[inactive="true"] + #TabsToolbar {
  visibility: collapse !important;
}

/* Hide "Tree Style Tabs" sidebar header */
/* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
   display:none;
   }

   #editBMPanel_folderTree {
   min-height: 40em !important;
   } */

/* Tree Style Tab inline styles
.tab.private-browsing .label:before {
   content: "₱";
}

.tab.unread .label {
   color: red !important;
   font-style: italic !important;
}

.tab.discarded {
  opacity: 0.75;
}

.tab.discarded .label-content {
  color: red;
}

.tab.unread .label-content {
  font-style: italic;
}

.contextual-identity-marker {
  position: absolute !important;
  pointer-events: none;Full Auto-show/hide Theme
  z-index: 0;

  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;

  width: unset !important;
  height: unset !important;

  opacity: 0.5;
}

.tab .favicon {
  filter: url('data:image/svg+xml;,<svg xmlns="http://www.w3.org/2000/svg"><filter id="s"><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 -0.2125 -0.7154 -0.0721 1 0" /><feMorphology operator="dilate" radius="1"/><feComponentTransfer><feFuncA type="gamma" offset="0" amplitude="1" exponent="2"/></feComponentTransfer><feGaussianBlur stdDeviation="0.5"/><feComposite in="SourceGraphic" operator="over"/></filter></svg>#s');
}
*/

menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important;
  padding: 1!important
}

#BMB_bookmarksPopup .popup-internal-box {
  background-color: var(--in-content-box-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}

.popup-internal-box > autorepeatbutton {
  -moz-appearance: none!important;
  background-color: var(--in-content-page-background)!important;
  border: 1px solid!important;
  border-color: var(--in-content-box-border-color)!important
}

#identity-popup-permissions-content {
background-repeat: no-repeat !important;
background-position: 2px 12px !important;
}

.identity-popup-security-content {
background-repeat: no-repeat !important;
background-position: 2px 12px !important;
}
