[Unit]
Description=Run kbdd

[Install]
WantedBy=default.target

[Service]
Type=simple
Restart=always
RestartSec=30
KillMode=process
ExecStart=/usr/bin/kbdd
