[Unit]
Description=kbdd daemon

[Install]
WantedBy=default.target

[Service]
Type=dbus
BusName=ru.gentoo.KbddService
ExecStart=/usr/bin/kbdd -n
ExecStop=/usr/bin/pkill kbdd
Environment=DISPLAY=:0
Restart=always
RestartSec=5
