[Unit]
Description=kbdd daemon
After=startx.service
Requires=startx.service

[Install]
WantedBy=default.target

[Service]
Type=dbus
BusName=ru.gentoo.KbddService
ExecStart=/usr/bin/kbdd -n
Environment=DISPLAY=:0
Restart=always
RestartSec=2
