[Unit]
Description=X11 was started

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/crandel/.local/bin/startx.sh
