[mailwatch-plugin]
click_command=
new_messages_command=
normal_icon=xfce-nomail
new_mail_icon=xfce-newmail
log_lines=200
show_log_status=true
auto_open_online_doc=false

[mailwatch]
nmailboxes=1
mailbox0=gmail
mailbox_name0=crandel

[mailbox0]
username=cradlemann@gmail.com
password=ktl,bnth<TPFYN2005
timeout=60

