Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=#008000
Color_Out=#FFE500
Text=Net
Network_Device=wlp3s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=true

