[Unit]
Description=Convert 16-bit brightness values to 8-bit before systemd-backlight applies it
Before=systemd-backlight@backlight:amdgpu_bl0.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/fix-brightness.sh

[Install]
WantedBy=multi-user.target
